<div class="card" style="background-color:#444949; border-color:darkslategray;">
  <div class="card-body">
    <img src={{linkphoto}} alt="CTo of this APP" class="myimg">
    <h4 class="card-title">Hillel Medioni</h4>
    <p class="card-text">Devolper </p>
    <p class="card-body">bla bla bla bla bla About Me :D
    </p>
    
    <a href="https://www.facebook.com/hillel.medioni"><img src={{linkfacebook}} alt="facebook" class="myicons" ></a>
    <a href="https://www.linkedin.com/in/hillel-medioni-b82a19173/"><img src={{linklinkedin}} alt="linkedin" class="myicons"></a>
</div>